.button {
  background-color: var(--color-primary);
  font-family: "Aileron";
  color: white;
  border-radius: 20px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: 0;
  cursor: pointer;
}

.button.small {
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
}

.button.disabled,
.button.disabled:hover {
  background-color: var(--color-light);
  cursor: not-allowed;
}

.button:hover {
  background-color: var(--color-primary-dark);
}
