.commentContainer {
  display: flex;
  font-family: "Milliard";
  font-size: 1.15rem;
  line-height: 2rem;
  background-color: #dceaf5;
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem 0 1rem 0;
}

.message {
  flex-grow: 999;
}

.meta {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.metaRow {
  text-align: right;
  color: black;
  font-weight: bold;
}

@media (max-width: 800px) {
  .commentContainer {
    line-height: 1.7rem;
  }
}
