.formField {
  margin: 1rem 0 0 0;
  display: flex;
  font-family: "Milliard";
  border-radius: 5px;
  align-items: center;
  border: 1px solid rgb(221, 221, 221);
}

.simpleMde {
  width: 100%;
  margin: 1rem 0 0 0;
  font-family: "Milliard";
}

.formButton {
  flex-grow: 999;
  background: 0;
  padding: 0.5rem 1rem;
  font-family: "Milliard";
  border: 0;
}

.formTextArea {
  flex-grow: 999;
  font-family: "Milliard";
  font-size: 1.2rem;
  border: 1px solid rgb(221, 221, 221);

  border-radius: 5px;
  height: 10rem;
}

.formLabel {
  font-family: "Milliard";
  margin: 0 1rem 0 0.5rem;
  line-height: 1.5rem;
  padding: 0;
  width: 3rem;
}

.formInput {
  flex-grow: 999;
  line-height: 2rem;
  border: 0;
  font-family: "Milliard";
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  background: 0;
}
