.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  max-width: 1000px;
}

.heading {
  align-items: baseline;
  display: flex;
  gap: 1rem;
}

.table {
  text-align: center;
  font-family: "Milliard";
  border-spacing: 0.2rem;
}

.cell {
  padding: 0.3em;
}

.row {
  background: var(--color-primary);
  color: white;
  border: 1px solid black;
}
