.blogContainer {
  display: grid;
  gap: 3rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
}

.pageContainer {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1460px;
}
