.pageContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  flex-direction: column;
}

.header {
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
}
