.pageContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1rem;
  align-items: baseline;
  display: flex;
  gap: 1rem;
}
