.header {
  background: var(--color-primary);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: "Aileron";
}

.menuButton {
  display: none !important;
  color: white;
}

.homeLink {
  flex-grow: 999;
  padding: 0;
  margin: 0;
}

.link {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.link:hover {
  color: var(--color-primary-dark);
}

.link:visited {
  color: white;
}

.link:visited:hover {
  color: var(--color-primary-dark);
}

.submenu {
  padding-right: 2rem;
  gap: 2rem;
  display: flex;
}

.mainBar {
  display: flex;
  background: var(--color-primary);
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  z-index: 10;
}

@media (max-width: 800px) {
  .header {
    align-items: stretch;
  }
  .container {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .submenu {
    transition: transform ease 0.1s, visibility ease 0.1s;
    flex-direction: column;
    display: flex;
    position: absolute;
    visibility: hidden;
    right: 0rem;
    top: var(--menu-height-mobile);
    gap: 1rem;
    z-index: 1;
    background-color: var(--color-light);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.45);
    padding: 1rem 2rem;
    transform: translateY(-100%);
  }

  .submenu .link {
    color: var(--color-primary);
  }

  .submenu .link {
    margin: 0;
  }

  .menuButton {
    display: block !important;
  }
}

.submenuShow {
  visibility: visible;
  transform: translateY(-5%);
}
