html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("Aileron"), url("../assets/fonts/aileron/Aileron-Regular.otf");
}

@font-face {
  font-family: "Aileron";
  font-display: swap;
  font-style: normal;
  font-weight: lighter;
  src: local("Aileron"), url("../assets/fonts/aileron/Aileron-Light.otf");
}

@font-face {
  font-family: "Milliard";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("Milliard Medium"),
    url("../assets/fonts/proxima-nova/rene-bieder-milliard-medium.woff")
      format("woff");
}

@font-face {
  font-family: "Milliard";
  font-style: italic;
  font-display: swap;
  font-weight: normal;
  src: local("Milliard Medium Italic"),
    url("../assets/fonts/proxima-nova/rene-bieder-miliard-medium-italic.woff")
      format("woff");
}

@font-face {
  font-family: "Milliard";
  font-style: normal;
  font-display: swap;
  font-weight: lighter;
  src: local("Milliard light"),
    url("../assets/fonts/proxima-nova/rene-bieder-milliard-light.woff")
      format("woff");
}

@font-face {
  font-family: "Milliard";
  font-style: italic;
  font-display: swap;
  font-weight: bold;
  src: local("Milliard Bold Italic"),
    url("../assets/fonts/proxima-nova/rene-bieder-milliard-bold-italic.woff")
      format("woff");
}

@font-face {
  font-family: "Penna";
  font-display: swap;
  src: local("Penna"), url("../assets/fonts/penna.otf");
}
